Repository kovacspeter07/Proj-Coffee-9c, pull requests merged in 2023-04, with the labels that each got.

#19 reakció játék
  main.js
  reflex.html
  style.css
Labels: Css, Html, Javascript, Kávé :coffee:

#20 15 kávé kereső befejezése
  kereső.html
  main.js
  style.css
Labels: Css, Html, Javascript

#21 javítás
  main.js
  reflex.html
Labels: Javascript, Kávé :coffee:, Javítás :wrench:

#22 javítás-gomb
  kereső.html
  style.css
Labels: Css, Html, Javítás :wrench:

#23 18 navbar
  coffee-info.html
  style.css
Labels: Html, Kávé :coffee:

#26 25 oldalak folytatása
  Források/Képek/aknakereső.PNG
  Források/Képek/icon.png
  Források/Képek/maki.svg
  Források/Képek/pngimg.com - palm_tree_PNG2485.png
  Források/Képek/reakció.PNG
  about.html
  coffee-info.html
  games.html
  index.html
  kereső.html
  main.js
  quiz.html
  reflex.html
  style.css
Labels: Css, Html, Javascript, Kép :framed_picture:, Kávé :coffee:, Javítás :wrench:

#31 rólunk kész
  Források/Képek/bella.png
  Források/Képek/maki.svg
  Források/Képek/marci.png
  Források/Képek/peti.jpg
  about.html
  quiz.html
  style.css
Labels: Css, Javascript, Kép :framed_picture:, Forrás, Kávé :coffee:, Javítás :wrench:

#36 javítás pipa
  main.js
  quiz.js
  style.css
Labels: Javascript, Javítás :wrench:

#37 Kész a prezentáció
  Prezentáció.pptx
Labels: Kávé :coffee:
